[submodule "contacts/core/lib/prb-test"]
	path = contacts/core/lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "contacts/core/lib/forge-std"]
	path = contacts/core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
